.App, .main-container {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

input {
    outline: none;
}

#main-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-container {
    background-color: rgba(1, 25, 54, 0.6);
    background-image: url("./static/subtle-dots.png");
    flex-grow: 1;
}

.centered {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.sitelogo {
    width: 33%;
    height: auto;
    margin: 20px;
    max-width: 350px;
    min-width: 250px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.8));
}

.siteslogan {
    text-align: center;
    background: rgba(70, 83, 98, 0.7);
    color: white;
    padding: 15px;
    border-top: solid 5px lightskyblue;
    text-shadow:0 3px 3px rgba(1, 25, 54, 0.6);
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.8));
}

.conversion-form-panel {
    text-align: center;
    background: rgba(1, 25, 54, 0.5);
    color: white;
    padding: 15px;
    border-top: solid 5px lightskyblue;
    text-shadow:0 3px 3px rgba(1, 25, 54, 0.6);
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.8));
}

.emphasize {
    color: #C0DFA1;
}

.conversion-form-emphasize {
    color: #9FC490;
}

.conversion-form-image {
    width: 90%;
    max-width: 410px;
    min-width: 250px;
    height: auto;
}

/*Neon-glow animation for the input fields.*/
@keyframes neon-glow {
    0% {
        filter: drop-shadow(0px 0px 8px lightslategray);
        border: solid 3px lightslategray;
    }

    25% {
        filter: drop-shadow(0px 0px 8px cyan);
        border: solid 3px lightskyblue;
    }

    50% {
        filter: drop-shadow(0px 0px 8px lightslategray);
        border: solid 3px lightslategray;
    }

    75% {
        filter: drop-shadow(0px 0px 8px #fc6076);
        border: solid 3px #fc6076;
    }

    100% {
        filter: drop-shadow(0px 0px 8px lightslategray);
        border: solid 3px lightslategray;
    }
}

.conversion-form-input {
    border: solid 3px lightslategray;
    padding: 10px;
    width: 95%;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    animation-name: neon-glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.conversion-form-input:hover, .conversion-form-input:focus {
    animation-name: none;
}

.conversion-form-button {
    padding: 10px;
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 0px 10px 0 rgba(252, 104, 110, 0.75);
}

.conversion-form-button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.conversion-form-button:focus {
    outline: none;
}

.conversion-form-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversion-form-cta-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.conversion-form-cta-container > .row {
    width: 100%;
}

.conversion-form-services {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243ede, #302b63de, #0f0c29de);
    background: linear-gradient(to right, #24243ede, #302b63de, #0f0c29de);
    padding: 20px 10px;
    color: rgb(255, 253, 148);
    text-align: center;
    text-shadow:0 3px 3px rgba(1, 25, 54, 0.6);
    margin-top: 20px;
    border-top: solid 5px lightsalmon;
}

.faq-panel > .card > .card-header {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: solid 3px lightslategray;
    margin: 10px 0;
    border-radius: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-panel > .card > .collapse, .collapsing > .card-body {
    color: white;
    font-size: 18px;
    background-color:rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    border-radius: 15px;
    text-align: justify;
}

.faq-panel > .card > .card-header:hover {
    border: solid 3px lightsalmon;
    color: rgb(255, 253, 148);
    justify-content: center;
}

.faq-panel > .card > .card-header > .circles-to-rhombuses-spinner {
    display: none;
}

.faq-panel > .card > .card-header:hover > .circles-to-rhombuses-spinner {
    display: flex;
}

.faq-panel > .card {
    background:rgba(1, 25, 54, 0.5);
    width: 90%;
    padding: 20px;
    border: none;
}

.circles-to-rhombuses-spinner, .circles-to-rhombuses-spinner * {
    box-sizing: border-box;
}

.circles-to-rhombuses-spinner {
    height: 15px;
    width: calc( (15px + 15px * 1.125) * 3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.circles-to-rhombuses-spinner .circle {
    height: 15px;
    width: 15px;
    margin-left: calc(15px * 1.125);
    transform: rotate(45deg);
    border-radius: 10%;
    border: 3px solid #ff1d5e;
    overflow: hidden;
    background: transparent;

    animation: circles-to-rhombuses-animation 1200ms linear infinite;
}

.circles-to-rhombuses-spinner .circle:nth-child(1) {
    animation-delay: calc(150ms * 1);
    margin-left: 0
}

.circles-to-rhombuses-spinner .circle:nth-child(2) {
    animation-delay: calc(150ms * 2);
}

.circles-to-rhombuses-spinner .circle:nth-child(3) {
    animation-delay: calc(150ms * 3);
}

@keyframes circles-to-rhombuses-animation {
    0% {
        border-radius: 10%;
    }

    17.5% {
        border-radius: 10%;
    }

    50% {
        border-radius: 100%;
    }


    93.5% {
        border-radius: 10%;
    }

    100% {
        border-radius: 10%;
    }
}

@keyframes circles-to-rhombuses-background-animation {
    50% {
        opacity: 0.4;
    }
}

.footer-container {
    background: rgba(70, 83, 98, 0.7);
    padding: 30px 0;
    margin-top: 20px;
    border-top: solid 5px lightsalmon;
}

.footer-container-info {
    margin-bottom: 0;
    background:rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.conversion-form-quote-invalid {
    color: #fc6076;
}

.success-popup .MuiDialog-paper {
    text-align:justify;
    padding: 20px;
    background-color: rgb(47, 56, 66);
    border: 3px solid lightsalmon;
    animation-name: success-popup-glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes success-popup-glow {
    0% {
        filter: none;
    }

    50% {
        filter: drop-shadow(0px 0px 12px lightsalmon);
    }

    100% {
        filter: none;
    }
}

.success-popup-title {
    color: #9FC490;
    background-color:#1c1c1c;
    text-align: center;
    border-top: solid 5px #9FC490;
}

.success-popup-title > h2 {
    font-weight: 600;
    font-size: 24px;
}

.success-popup-greeting {
    color: lightsalmon;
    text-shadow:0px 2px 0px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
}

.success-popup-body {
    color: white;
    text-shadow:0px 2px 0px rgba(0, 0, 0, 0.4);
}

.success-popup-name {
    color: lightskyblue;
}

.success-popup-mail {
    color: lightgreen;
    font-size: 20px;
}

.success-popup-closing {
    color: lightsalmon;
    text-shadow:0px 2px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.success-popup-signature {
    font-weight: 600;
    color: lightskyblue;
}

.success-popup-signature-image {
    width: 200px;
    height: auto;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
}

.success-popup-famous-quote {
    background:rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin-top: 20px;
    border-top: 3px solid white;
    color:rgb(255, 253, 148);
    text-align: center;
}